.subtitulo {
    -fx-font-size: 25px;
    -fx-font-weight: Bold;
    -fx-font-color: #222222;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.btn-topo {
    -fx-pref-width: 430px;
    -fx-pref-height: 115px;
    -fx-font-size: 32px;
    -fx-text-fill: #000000;
}

.lista-prox-reserv {
    -fx-font-size: 24px;
    -fx-font-weight: medium;
}